<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/raiding.css">

    <div class="page_content_2">
        <div class="wf-header-block">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="navbar-expansions collapse navbar-collapse row d-flex justify-content-center navbar-expansions">
                        <a href="#" id="wod_box" class="nav-item nav-link is-featured" onclick="changeBanner('https://res.cloudinary.com/amroeg/image/upload/v1616082225/Horna/wod_banner_ldqlpm.png');">Warlords of Draenor</a>
                        <a href="#" id="legion_box" class=" nav-item nav-link is-featured" onclick="changeBanner('https://res.cloudinary.com/amroeg/image/upload/v1616082220/Horna/legion_banner_q84ngk.png');">Legion</a>
                        <a href="# " id="bfa_box " class=" nav-item nav-link is-featured " onclick="changeBanner('https://res.cloudinary.com/amroeg/image/upload/v1616082216/Horna/bfa_banner_tv7e5s.png'); ">Battle For Azeroth</a>
                        <a href="# " id="SL_box " class=" nav-item nav-link is-featured " onclick="changeBanner('https://res.cloudinary.com/amroeg/image/upload/v1616082223/Horna/SL_banner_em7n4i.png'); ">Shadowlands</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="expansion_container mb-5 ms-auto row d-flex justify-content-center ">
            <% for(let expansion of expansions) { %>
                <div class="expansion ms-auto">
                <div class="expansion_info">
                        <h2><%= expansion.title %> </h2>
                        <div class="timeline_indicator">
                            <span class="">-</span>
                            </div>
                        <span class="expansion_releaseDate"><%= expansion.releaseDate.toLocaleString('fi-FI', { day: '2-digit', month: '2-digit', year: 'numeric'})  %></span>
                </div> 
            <div class="expansion-image">
                <img class="expansion_banner" id="expansion-banner" src="<%= expansion.banner[0].url %>" alt=" ">
            </div>
        </div>
            <%  }%> 
            <div class="container_info">
                <div class="raids mb-3 row d-flex justify-content-center">
                    <% for(let raid of raids) {%> 
                    <div class="raid mb-3">
                        <div class="raid_info">
                        <h2 class="raid_title"><%= raid.title  %> </h2>
                        <div class="timeline_indicator">                     
                        </div>  
                        <span class="raid_releaseDate"><%= raid.releaseDate.toLocaleString('fi-FI', { day: '2-digit', month: '2-digit', year: 'numeric'})  %> </span>
                    </div>  
                    <div class="progress_table">
                        <table>
                            <thead>
                            <th>Boss</th>
                            <th>Kill Date</th>
                            <th>Difficulty</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Sire Denathrius</td>
                            <td>23.11.2020</td>
                            <td>Mythic</td>
                        </tr>
                        <tr>
                            <td>Shirekwing</td>
                            <td>23.11.2020</td>
                            <td>Mythic</td>
                        </tr>
                    </tbody>
                        </table>
                    </div>
                        <div class="banner">
                        <img class="raid_banner" src="<%= raid.banner[0].url  %> " alt=" ">
                        </div>
                    </div>  
                    <% } %> 
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/index.js"></script>