<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/raiding.css">


    <div class="page_content_2">
        <div class="wf-header-block">
            
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <% let expansion = expansions %> 
                    <div class="navbar-expansions collapse navbar-collapse row d-flex justify-content-center navbar-expansions">
                        <div class="nav-exp">
                            <a href="/expansions?title=<%= expansion.title='Warlords Of Draenor' %>" id="wod_box" class="nav-item nav-link is-featured wod">Warlords of Draenor</a>
                        </div>
                        <div class="nav-exp">
                            <a href="/expansions?title=<%= expansion.title='Legion' %>" id="legion_box" class=" nav-item nav-link is-featured">Legion</a>
                        </div>
                        <div class="nav-exp">
                            <a href="/expansions?title=<%= expansion.title='Battle For Azeroth' %>" id="bfa_box " class=" nav-item nav-link is-featured">Battle For Azeroth</a>
                        </div>
                        <div class="nav-exp">
                            <a href="/expansions?title=<%= expansion.title='Shadowlands' %>" id="SL_box " class=" nav-item nav-link is-featured">Shadowlands</a>
                        </div>
                        
                        
                    </div>
                </div>
            </nav>
        </div>
        <div class="expansion_container mb-3 ms-auto row d-flex justify-content-center ">
            <% for(let expansion of expansions) { %>
                <div class="expansion ms-auto mb-5">
                <div class="expansion_info">
                        <h2><%= expansion.title %> </h2>
                        <div class="timeline_indicator">
                            </div>
                        <span class="expansion_releaseDate"><%= expansion.releaseDate.toLocaleString('fi-FI', { day: '2-digit', month: '2-digit', year: 'numeric'})  %></span>
                </div> 
            <div class="expansion-image">
                <img class="expansion_banner" id="expansion-banner" src="<%= expansion.banner[0].url %>" alt=" ">
            </div>
        </div>
       
            <div class="container_info">
                <div class="raids mb-3 row d-flex justify-content-center">
                     
                    <%  for(let raid of expansion.raids) {%>
                        
                    <div class="raid mb-5">
                        <div class="raid_info">
                        <h2 class="raid_title"><%= raid.title  %> </h2>
                        <div class="timeline_indicator">                     
                        </div>  
                        <span class="raid_releaseDate"><%= raid.releaseDate.toLocaleString('fi-FI', { day: '2-digit', month: '2-digit', year: 'numeric'})  %> </span>
                    </div>  
                    <% if (raid.progress) {%>
                    <div class="progress_box">
                        <div class="progress_text">
                             
                            <h2><%= raid.progress %></h2>
                            <% } %> 
                        </div>
                    </div>
                        <div class="banner">
                        <img class="raid_banner" src="<%= raid.banner[0].url  %> " alt=" ">
                        </div>
                    </div>  
                    <%  }%>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <script src="/javascripts/index.js"></script>
   